# Ignore VS Code specific settings and metadata
.vscode/
# Ignore node dependencies
node_modules/
# Ignore TypeScript source files and maps
**/*.ts
**/*.tsx
**/*.map
**/*.psd
# Build config and config files not needed at runtime
tsconfig.json
webpack.config.js
tailwind.config.js
postcss.config.js
